.orion-checkbox input[type='checkbox'] {
  @apply absolute top-0 left-0 h-16 w-16;
  @apply opacity-0;
  @apply block !important;
}

.orion-checkbox input[type='checkbox'] ~ label {
  @apply block cursor-pointer pl-24;
  line-height: 16px;
}

.orion-checkbox input[type='checkbox'] ~ label:before {
  @apply absolute top-0 left-0 h-16 w-16;
  @apply border border-gray-900-24 rounded;
  content: '';
}

.orion-checkbox input[type='checkbox'] ~ label:hover:before {
  @apply bg-gray-900-8;
}

.orion-checkbox input[type='checkbox'] ~ label:active:before {
  @apply bg-gray-900-16;
}

.orion-checkbox input[type='checkbox']:checked ~ label:before,
.orion-checkbox input[type='checkbox']:indeterminate ~ label:before {
  @apply bg-wave-500;
}

.orion-checkbox input[type='checkbox']:checked ~ label:hover:before,
.orion-checkbox input[type='checkbox']:indeterminate ~ label:hover:before {
  @apply bg-wave-600;
}

.orion-checkbox input[type='checkbox']:checked ~ label:active:before,
.orion-checkbox input[type='checkbox']:indeterminate ~ label:active:before {
  @apply bg-wave-700;
}

.orion-checkbox input[type='checkbox']:checked ~ label:after,
.orion-checkbox input[type='checkbox']:indeterminate ~ label:after {
  @apply absolute top-0 left-0 h-16 w-16;
  @apply flex items-center justify-center text-white;
  font-family: 'Icons';
}

.orion-checkbox input[type='checkbox']:checked ~ label:after {
  content: '\E876';
}

.orion-checkbox input[type='checkbox']:indeterminate ~ label:after {
  content: '\E15B';
}
