.orion.card {
  @apply relative bg-white border-1 border-gray-900-16 inline-block rounded;
  @apply inline-flex flex-col;
}

.orion.card.fluid {
  @apply w-full;
}

.orion.card .header {
  @apply font-display mb-24 tracking-h2 text-lg text-gray-800;
}

.orion.card > .content {
  @apply flex-grow p-24;
}

.orion.card > .extra {
  @apply flex flex-grow-0 flex-shrink-0 items-center justify-end px-24 py-8;
  @apply border-t-1 border-gray-900-16;
}

.orion.card.selectable {
  @apply shadow-200 cursor-pointer transition-default;
}
.orion.card.selectable:hover,
.orion.card.selectable:focus {
  @apply border-gray-900-8 shadow-300;
}
.orion.card.selectable:active {
  @apply border-gray-900-16 shadow-none;
}

.orion.card.selectable.selected {
  @apply bg-wave-500-8 shadow-none;
}
.orion.card.selectable.selected:hover,
.orion.card.selectable.selected:focus {
  @apply border-gray-900-16 shadow-200;
}
.orion.card.selectable.selected:active {
  @apply bg-wave-500-16 shadow-none;
}

.orion.card.selectable .checkbox {
  @apply absolute left-0 top-0 m-8;
}
