.orion.dropdown .menu > .item .text {
  @apply leading-20 truncate;
}

.orion.dropdown .menu > .item,
.orion.dropdown .menu > .message {
  @apply px-16 py-8;
}

.orion.dropdown .menu > .item.active {
  @apply font-medium;
}

.orion.dropdown .menu > .item:hover {
  @apply bg-gray-900-8;
}

.orion.dropdown .menu > .item.selected {
  @apply bg-gray-100;
}

.orion.dropdown .menu > .item .description {
  @apply mt-4 leading-14 text-gray-800 text-sm truncate;
}
