.ui.dropdown {
  @apply inline-flex items-center justify-between relative outline-none h-48;
  @apply border border-gray-900-24 px-16 rounded;
  @apply bg-white cursor-pointer;
  min-width: 256px;
}

.ui.dropdown:hover {
  @apply shadow-field-hover;
}

.ui.dropdownfocus {
  @apply shadow-field-focus;
}

.ui.dropdown.fluid {
  @apply w-full;
}

.ui.dropdown.small {
  @apply h-32;
}

.ui.dropdown.search input {
  @apply absolute bg-transparent outline-none;
}

.ui.dropdown .text {
  @apply text-gray-900 z-10;
}

.ui.dropdown .text.default {
  @apply text-gray-800;
}

.ui.dropdown .menu {
  @apply absolute hidden mt-8 shadow-200 left-0 w-full;
  top: 100%;
}

.ui.dropdown.active .menu {
  @apply block rounded;
}

.ui.dropdown.selection .menu > .item,
.ui.dropdown.selection .menu > .message {
  @apply px-16 py-8;
}

.ui.dropdown.selection .menu > .item.active {
  @apply font-medium;
}

.ui.dropdown.selection .menu > .item:hover {
  @apply bg-gray-900-4;
}

.ui.dropdown.selection.active .orion-dropdown__icon {
  transform: rotate(-180deg);
}

.ui.dropdown.multiple .orion-label {
  @apply mr-8;
}

.orion-dropdown__icon {
  @apply -mr-8 transition-default;
}

.ui.dropdown.disabled {
  @apply bg-gray-900-8 pointer-events-none cursor-default;
}

/**
 * Search
 */

.ui.dropdown.search {
  @apply inline-flex cursor-text;
}
