@import './DropdownItem/dropdown-item.css';

.ui.dropdown {
  @apply flex-wrap inline-flex items-center relative;
  @apply cursor-pointer min-h-48 px-16 outline-none select-none;
  min-width: 256px;
}

.ui.dropdown.compact {
  @apply min-w-0;
}

.ui.dropdown.compact > .menu {
  min-width: max-content;
}

.ui.dropdown.fluid {
  @apply w-full;
}

.ui.dropdown.small {
  @apply min-h-32;
}

.ui.dropdown .text {
  @apply text-gray-900 z-10;
}

.ui.dropdown .text.default {
  @apply text-gray-800;
}

.ui.dropdown > .menu {
  @apply absolute bg-white border border-gray-900-16 hidden mt-8 shadow-200 left-0 w-full;
  top: 100%;
}

.ui.dropdown.active > .menu {
  @apply block rounded;
}

.ui.dropdown.disabled {
  @apply pointer-events-none cursor-default;
}

.ui.dropdown > .icon {
  @apply ml-auto -mr-8;
}

.ui.dropdown.active .dropdown-icon {
  transform: rotate(-180deg);
}

.dropdown-icon {
  @apply transition-default;
}

/**
 * Search
 */

.ui.dropdown.search {
  @apply inline-flex cursor-text;
}

.ui.dropdown.search input {
  @apply absolute bg-transparent outline-none;
}

.ui.dropdown.search.active input:focus + .text {
  @apply text-gray-800;
}

/**
 * Multiple
 */

.ui.dropdown.multiple .ui.label {
  @apply mr-8;
}

.ui.dropdown.multiple.small > .ui.label {
  @apply h-24 !important;
}

/**
 * Multiple + Keep selected
 */

.ui.dropdown.multiple.keep-selected > .menu > .item.active {
  @apply font-normal .relative;
}

.ui.dropdown.multiple.keep-selected > .menu > .item::after {
  @apply absolute text-lg text-wave-500;
  top: calc(50% - 10px);
  right: 16px;
}

.ui.dropdown.multiple.keep-selected > .menu > .item.active::after {
  content: 'check';
  font-family: 'Material Icons';
}

.ui.dropdown.multiple.keep-selected.disabled > .menu {
  @apply hidden;
}

/**
 * Search + Multiple
 */

.ui.dropdown.search.multiple {
  @apply h-auto py-4;
}

.ui.dropdown.search.multiple > .ui.label {
  @apply my-2;
}

.ui.dropdown.search.multiple > input {
  @apply h-32 my-2 static w-32 max-w-full;
}

.ui.dropdown.search.multiple.small > input {
  @apply h-24;
}

.ui.dropdown.search.multiple > .sizer {
  @apply hidden p-2;
}

.ui.dropdown.search.multiple > .text {
  @apply absolute;
}

/**
 * Selection
 */

.ui.dropdown.selection {
  @apply bg-white border border-gray-900-24 rounded;
}

.ui.dropdown.selection.disabled {
  @apply bg-gray-900-8;
}

.ui.dropdown.selection:hover,
.ui.dropdown.selection:focus {
  @apply shadow-field-hover;
}

.ui.dropdown.selection:active {
  @apply shadow-field-active;
}

.ui.dropdown.selection > .menu {
  @apply cursor-pointer;
}

/** Inline Menu **/

.ui.dropdown.inline-menu > .menu {
  @apply block border-0 shadow-none;
}

.ui.dropdown.inline-menu > .dropdown-icon {
  @apply hidden;
}

/**
 * Validation
 */

.ui.dropdown.error {
  @apply border-magenta-500;
}

.ui.dropdown.error.selection:hover,
.ui.dropdown.error.selection:focus {
  @apply shadow-error-field-hover;
}

.ui.dropdown.error.selection:active {
  @apply shadow-error-field-active;
}

.ui.dropdown.warning {
  @apply border-yellow-500;
}

.ui.dropdown.warning.selection:hover,
.ui.dropdown.warning.selection:focus {
  @apply shadow-warning-field-hover;
}

.ui.dropdown.warning.selection:active {
  @apply shadow-warning-field-active;
}
