.orion.menu.switcher .item {
  @apply h-32 ml-8 outline-none px-8 rounded transition-default;
  transition-property: background-color, color;
}

.orion.menu.switcher .item:first-child {
  @apply ml-0;
}

.orion.menu.switcher .item:not(.active):hover,
.orion.menu.switcher .item:not(.active):focus {
  @apply bg-gray-900-8;
}

.orion.menu.switcher .item:not(.active):active {
  @apply bg-gray-900-16;
}

.orion.menu.switcher .item.active {
  @apply bg-space-100 font-normal;
}
