.ui.checkbox {
  @apply my-2 relative;
}

.ui.checkbox input[type='checkbox'] {
  @apply absolute top-0 left-0 h-16 w-16;
  @apply opacity-0;
  @apply block !important;
}

.ui.checkbox input[type='checkbox'] ~ label {
  @apply block cursor-pointer text-base text-gray-900 pl-24;
  line-height: 16px;
}

.ui.checkbox input[type='checkbox'] ~ label:before {
  @apply absolute top-0 left-0 h-16 w-16;
  @apply border border-gray-900-24 rounded;
  content: '';
}

.ui.checkbox input[type='checkbox'] ~ label:hover:before {
  @apply bg-gray-900-8;
}

.ui.checkbox input[type='checkbox'] ~ label:active:before,
.ui.checkbox input[type='checkbox']:focus ~ label:before {
  @apply bg-gray-900-16;
}

.ui.checkbox input[type='checkbox']:checked ~ label:before,
.ui.checkbox input[type='checkbox']:indeterminate ~ label:before {
  @apply bg-wave-500;
}

.ui.checkbox:not(.disabled) input[type='checkbox']:checked ~ label:hover:before,
.ui.checkbox:not(.disabled)
  input[type='checkbox']:indeterminate
  ~ label:hover:before {
  @apply bg-wave-600;
}

.ui.checkbox:not(.disabled)
  input[type='checkbox']:checked
  ~ label:active:before,
.ui.checkbox:not(.disabled)
  input[type='checkbox']:indeterminate
  ~ label:active:before,
.ui.checkbox:not(.disabled) input[type='checkbox']:checked:focus ~ label:before,
.ui.checkbox:not(.disabled)
  input[type='checkbox']:indeterminate:focus
  ~ label:before {
  @apply bg-wave-700;
}

.ui.checkbox input[type='checkbox']:checked ~ label:after,
.ui.checkbox input[type='checkbox']:indeterminate ~ label:after {
  @apply absolute top-0 left-0 h-16 w-16;
  @apply flex items-center justify-center text-white;
  font-family: 'Material Icons';
}

.ui.checkbox input[type='checkbox']:checked ~ label:after {
  content: '\E876';
}

.ui.checkbox input[type='checkbox']:indeterminate ~ label:after {
  content: '\E15B';
}

/**
 * Disabled
 */

.ui.checkbox.disabled input[type='checkbox'] ~ label {
  @apply text-gray-800;
}

.ui.checkbox.disabled input[type='checkbox'] ~ label:before {
  @apply bg-gray-900-8;
}

.ui.checkbox.disabled input[type='checkbox'] ~ label:after {
  @apply text-gray-800;
}

/**
 * Space between checkboxes
 */

.ui.checkbox + .ui.checkbox {
  /* 16px space + 2px margin from the top checkbox + 2px margin from the bottom checkbox */
  margin-top: 20px;
}
