/*******************************
            StepsNav
*******************************/

.orion.steps-nav {
  @apply flex;
}

/*--------------
     Separator
---------------*/

.orion.steps-nav .steps-nav-separator {
  @apply w-40 border-t-1 border-gray-900-16 mt-12;
}

.orion.steps-nav .steps-nav-separator.steps-nav-index-separator {
  @apply flex-grow w-auto;
}

.steps-nav-step:first-child .steps-nav-index-separator:first-child {
  @apply opacity-0;
}

.steps-nav-step:last-child .steps-nav-index-separator:last-child {
  @apply opacity-0;
}

/*--------------
     Step
---------------*/

.orion.steps-nav .steps-nav-step-index-container {
  @apply flex w-full;
}

.orion.steps-nav .steps-nav-step {
  @apply flex flex-col;
}

.orion.steps-nav .steps-nav-step-index {
  @apply w-24 h-24 flex items-center justify-center rounded-full mx-4;
}

.orion.steps-nav .steps-nav-step-name {
  @apply mt-4;
}

/*--------------
     Active
---------------*/

.orion.steps-nav .steps-nav-step.active .steps-nav-step-index {
  @apply bg-space-100;
}

.orion.steps-nav .steps-nav-step.active .steps-nav-step-name {
  @apply font-medium;
}
