.orion.form .field {
  @apply relative;
}

/* Floated label */
.orion.form .field.floatingLabel label {
  @apply absolute border-l-1 top-0 block .cursor-text ml-16 text-gray-800 text-base transition-default z-10;
  transition-property: margin-top, font-size;
  border-color: transparent !important;
  margin-top: 17px;
}

.orion.form .field.floatingLabel.filled label,
.orion.form .field.floatingLabel:focus-within label {
  @apply mt-8 text-sm;
}

.orion.form .field.floatingLabel .dropdown .text,
.orion.form .field.floatingLabel input {
  @apply pt-16;
}

.orion.form .field.floatingLabel .dropdown .default.text,
.orion.form .field.floatingLabel input::placeholder {
  @apply transition-default;
  transition-property: color;
  color: transparent;
}

.orion.form .field.floatingLabel:focus-within .dropdown .default.text,
.orion.form .field.floatingLabel:focus-within input::placeholder {
  @apply text-gray-800;
}

/* Outside label */
.orion.form .field label {
  @apply block mb-4;
}

/* Error */
.orion.form .field.error input,
.orion.form .field.error .dropdown {
  @apply border-magenta-500;
}

/* Error message */
.orion-form-field {
  @apply mb-16;
}

.orion-form-field__message {
  @apply mt-4 text-sm text-magenta-600;
}

.orion-form-field__message--warning {
  @apply text-yellow-500;
}
