.orion.loader,
.orion.loader:before,
.orion.loader:after {
  width: 20px;
  height: 20px;
}

/* Active Shape */
.orion.loader:after {
  @apply absolute border-solid border-2 rounded-full;
  content: '';
  animation: loader 0.6s linear;
  animation-iteration-count: infinite;
  border-color: #757677 transparent transparent;
}

/* Active Animation */
@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*******************************
            States
*******************************/

.orion.indeterminate.loader:after {
  animation-direction: reverse;
  animation-duration: 1.2s;
}
