.orion.button.filter-trigger {
  @apply bg-white border border-gray-900-24 cursor-pointer font-normal rounded transition-default;
  @apply inline-flex h-32 items-center text-gray-800;
  @apply outline-none;
  @apply px-16 !important;
  transition-property: background-color, color;
}

.orion.button.filter-trigger:hover,
.orion.button.filter-trigger:focus {
  @apply bg-gray-900-8;
}

.orion.button.filter-trigger.active,
.orion.button.filter-trigger.selected {
  @apply bg-space-100 border-none text-space-900;

  /*
   * We remove the border for the selected filter, but need its width
   * to be the same as before (to avoid movement between states). We
   * achieve this by adding an extra 1px padding on both sides.
   */
  padding-left: 17px !important;
  padding-right: 17px !important;
}

.orion.button.filter-trigger.active:hover,
.orion.button.filter-trigger.selected:hover,
.orion.button.filter-trigger.selected:focus {
  @apply bg-space-200;
}

.orion.popup.filter .filter-content {
  @apply p-8 pb-24;
}

.orion.popup.filter .filter-buttons {
  @apply flex justify-between;
}

.orion.popup.filter .filter-footer-content {
  @apply leading-14 font-display mr-8 text-sm text-gray-800;
}
