@import './font.css';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply font-default text-gray-900 leading-20 text-base;
}

h1 {
  @apply font-display tracking-h1 text-xl text-gray-800 leading-28;
}

h2 {
  @apply font-display tracking-h2 text-lg text-gray-800 leading-24;
}

a {
  @apply text-wave-600;
}

a:hover {
  @apply text-wave-700;
}

a:active {
  @apply text-wave-800;
}

::placeholder {
  @apply text-gray-800 opacity-100;
}

label {
  @apply text-gray-800 text-sm leading-14;
}
