.orion.table {
  @apply table-fixed text-left w-full;
}

/** Header **/

.orion.table thead tr {
  @apply bg-gray-200;
}

.orion.table th {
  @apply align-bottom px-12 py-0;
  @apply font-normal leading-14 text-gray-800 text-sm;
}

.orion.table th > .inner-cell {
  @apply truncate py-8;
}

.orion.table th:first-child {
  @apply pl-24;
}

.orion.table th:last-child {
  @apply pr-24;
}

.orion.table tr:first-child th:first-child {
  border-top-left-radius: 4px;
}

.orion.table tr:first-child th:last-child {
  border-top-right-radius: 4px;
}

.orion.table tr:last-child th:first-child {
  border-bottom-left-radius: 4px;
}

.orion.table tr:last-child th:last-child {
  border-bottom-right-radius: 4px;
}

/** Body **/

.orion.table tbody > tr > td {
  @apply font-normal leading-20 text-base text-gray-900 p-0;
}

.orion.table tbody > tr > td:first-child > .inner-cell {
  @apply border-l-1 pl-24;
  border-radius: 4px 0 0 4px;
}

.orion.table tbody > tr > td:last-child > .inner-cell {
  @apply border-r-1 pr-24;
  border-radius: 0 4px 4px 0;
}

.orion.table tbody > tr > td > .inner-cell {
  @apply bg-white truncate;
  @apply border-t-1 border-b-1 border-gray-900-8;
  @apply px-12 mt-8;
}

.orion.table tbody > tr > td .inner-cell-wrapper {
  @apply inline-block py-16;
}

.orion.table tbody > tr > td.highlight .inner-cell-wrapper {
  @apply bg-gray-900-4 px-16;
}
