.orion.table {
  @apply table-fixed text-left w-full;
}

/** Header **/

.orion.table thead tr {
  @apply bg-gray-200;
}

.orion.table th {
  @apply align-bottom px-12 py-0;
  @apply font-normal leading-14 text-gray-800 text-sm;
}

.orion.table th > .inner-cell {
  @apply truncate py-8;
}

.orion.table th:first-child {
  @apply pl-24;
}

.orion.table th:last-child {
  @apply pr-24;
}

.orion.table tr:first-child th:first-child {
  border-top-left-radius: 4px;
}

.orion.table tr:first-child th:last-child {
  border-top-right-radius: 4px;
}

.orion.table tr:last-child th:first-child {
  border-bottom-left-radius: 4px;
}

.orion.table tr:last-child th:last-child {
  border-bottom-right-radius: 4px;
}

/** Body **/

.orion.table tbody > tr > td {
  @apply font-normal leading-20 text-base text-gray-900 p-0;
}

.orion.table tbody > tr > td:first-child > .inner-cell {
  @apply border-l-1 pl-24;
  border-radius: 4px 0 0 4px;
}

.orion.table tbody > tr > td:last-child > .inner-cell {
  @apply border-r-1 pr-24;
  border-radius: 0 4px 4px 0;
}

.orion.table tbody > tr > td > .inner-cell {
  @apply bg-white;
  @apply border-t-1 border-b-1 border-gray-900-8;
  @apply px-12 mt-8;
  height: 54px;
}

.orion.table tbody .inner-cell > .inner-cell-wrapper {
  @apply flex items-center h-full truncate;
}

.orion.table tbody .inner-cell.highlight > .inner-cell-wrapper {
  @apply bg-gray-900-4;
}

/** Sortable **/

.orion.table.sortable th {
  @apply cursor-pointer;
}

.orion.table.sortable th:hover,
.orion.table.sortable th:focus {
  @apply text-gray-700;
}

.orion.table.sortable th:active {
  @apply text-gray-900;
}

.orion.table.sortable th.sorted > .inner-cell::after {
  @apply absolute ml-4 text-gray-700 text-lg transition-default font-icons;
  content: 'keyboard_arrow_up';
  transition-property: transform;
}

.orion.table.sortable th.sorted:hover > .inner-cell::after,
.orion.table.sortable th.sorted:focus > .inner-cell::after {
  @apply text-gray-800;
}

.orion.table.sortable th.sorted:active > .inner-cell::after {
  @apply text-gray-900;
}

.orion.table.sortable th.sorted.descending > .inner-cell::after {
  transform: rotate(180deg);
}
