.orion.table {
  @apply border-separate -mt-8 table-fixed text-left w-full;
  border-spacing: 0 8px;
}

.orion.table tr {
  @apply my-4;
}

/** Header **/

.orion.table thead tr {
  @apply bg-gray-200;
}

.orion.table th {
  @apply py-8;
  @apply font-normal leading-14 text-gray-800 text-sm;
}

.orion.table th:first-child {
  @apply pl-24;
  border-radius: 4px 0 0 4px;
}

.orion.table th:last-child {
  @apply pr-24;
  border-radius: 0 4px 4px 0;
}

/** Body **/

.orion.table tbody tr {
  @apply bg-white;
}

.orion.table tbody td {
  @apply border-t-1 border-b-1 border-gray-900-8;
  @apply font-normal leading-20 text-base text-gray-900;
  @apply py-8;
}

.orion.table tbody td:first-child {
  @apply border-l-1 pl-24;
  border-radius: 4px 0 0 4px;
}

.orion.table tbody td:last-child {
  @apply border-r-1 pr-24;
  border-radius: 0 4px 4px 0;
}
