.orion.message {
  @apply border-1 border-green-500 rounded bg-green-50 p-16 text-base flex items-center;
}

.orion.message .header {
  @apply font-medium;
}

.orion.message.error {
  @apply border-magenta-500 bg-magenta-50;
}

.orion.message.warning {
  @apply border-yellow-500 bg-yellow-50;
}

.orion.message > .icon:not(.close) {
  @apply pr-4;
}

.orion.message.header > .icon {
  @apply pr-16;
}

.orion-message {
  @apply relative;
  max-width: 600px;
}

.orion-message.fluid {
  max-width: none;
}

.orion-message--shadow {
  @apply shadow-400;
}

.orion-message__close-icon {
  @apply absolute right-0 cursor-pointer p-16 text-gray-700;
  top: calc(50% - 26px);
}
