.orion.popup {
  @apply bg-white border border-gray-900-8 leading-14 p-16 rounded shadow-300 text-gray-800 z-50;
}

.orion.popup:before {
  @apply absolute bg-white;

  content: '';
  height: 12px;
  transform: rotate(45deg);
  width: 12px;
}

.orion.popup.small {
  @apply text-sm;
}

/** Positions **/

.orion.popup.top {
  @apply mb-8;
}

.orion.popup.bottom {
  @apply mt-8;
}

.orion.popup.left.center {
  @apply mr-8;
}

.orion.popup.right.center {
  @apply ml-8;
}

.orion.popup.top:before {
  @apply top-auto right-auto;
  bottom: -6px;
  box-shadow: 1px 1px 0 0 rgba(61, 62, 63, 0.08);
}

.orion.popup.bottom:before {
  @apply bottom-auto right-auto;
  top: -6px;
  box-shadow: -1px -1px 0 0 rgba(61, 62, 63, 0.08);
}

.orion.popup.left:before {
  left: 10px;
}

.orion.popup.right:before {
  @apply left-auto;

  right: 10px;
}

.orion.popup.top.center:before,
.orion.popup.bottom.center:before {
  left: 50%;
  margin-left: -6px;
}

.orion.popup.left.center:before,
.orion.popup.right.center:before {
  @apply bottom-auto;
  margin-top: -6px;
  top: 50%;
}

.orion.popup.left.center:before {
  @apply left-auto;
  right: -6px;
  box-shadow: 1px -1px 0 0 rgba(61, 62, 63, 0.08);
}

.orion.popup.right.center:before {
  @apply right-auto;
  left: -6px;
  box-shadow: -1px 1px 0 0 rgba(61, 62, 63, 0.08);
}

/** Basic (not pointing) **/

.orion.popup.basic {
  @apply border-gray-900-16 shadow-200 text-gray-900;
}

.orion.popup.basic:before {
  @apply hidden;
}
