/*******************************
             Modal
*******************************/

.orion.modal {
  @apply absolute hidden z-10 text-left bg-white border-0 rounded flex shadow-200 select-text;
  min-width: 492px;
  left: 50%;
  top: 24px;
  transform: translate(-50%, 0);
}

/*******************************
            Content
*******************************/

/*--------------
     Close
---------------*/

.orion.modal > .icon {
  @apply cursor-pointer absolute top-0 right-0 m-8 text-gray-700;
}
.orion.modal > .icon:hover {
  @apply text-gray-800;
}
.orion.modal > .icon:focus {
  @apply text-gray-800;
}
.orion.modal > .icon:active {
  @apply text-gray-900;
}

/*--------------
     Header
---------------*/

.orion.modal > .header {
  @apply block bg-transparent px-24 pt-24 font-display text-lg text-gray-800;
}

/*--------------
     Content
---------------*/

.orion.modal > .content {
  @apply block w-full font-normal p-24 bg-transparent;
}

/*--------------
     Actions
---------------*/

.orion.modal > .actions {
  @apply bg-transparent px-16 pb-16 text-right;
}
.orion.modal .actions > .button {
  @apply ml-8;
}

/*******************************
             States
*******************************/

.orion.active.modal {
  @apply block;
}
